/* Helper Classes */
.flex {
  display: flex;
}

.conferenceroom_container {
  display: flex;
}

.video_grid_container {
  flex: 0.8;
  background-color: #000;
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: fit-content;
  padding: 1em 1em 0;
}

#video_grid {
  display: flex;
  flex: 0.8;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
}

#video_grid video {
  height: 170px;
  width: 170px;
  border-radius: 10px;
  border: 2px inset #000;
  margin: 1.5em 0 0;
}

.right_pannel {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 75vh;
  padding: 0 0.5em;
}

.chat_heading {
  text-align: center;
}

.message_input {
  display: flex;
  align-items: center;
  justify-content: center;
}

#message {
  border: 1px solid rgba(119, 119, 119, 0.521);
  border-radius: 5px;
  padding: 0.5em;
  outline: none;
  margin: 0;
  width: 100%;
}

#send {
  border: none;
  background-color: inherit;
  outline: none;
}

.messages {
  overflow-y: auto;
  flex-grow: 1;
  max-height: 60vh;
}

#messages_in {
  padding: 0;
}

.message_in {
  list-style: none;
  margin: 0;
}

.controls {
  background-color: #484a4d71;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  width: 100%;
}

.controls_icons {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  border-radius: 5px;
  line-height: 1.7;
  cursor: pointer;
}

.controls_icons:hover {
  background-color: rgba(78, 77, 77, 0.541);
}

.leave_meeting {
  background-color: red;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  font-weight: 900;
  border-radius: 5px;
  cursor: pointer;
}

/*------ Mobile Version -------*/

@media (max-width: 900px) {
  .video_grid_container {
    flex: 0.7;
    padding: 1em 0 0;
  }

  .right_pannel {
    flex: 0.3;
  }

  .controls {
    padding: 0;
  }

  .controls_icons {
    padding: 0.5em;
    font-size: 0.7rem;
  }

  .controls_icons:hover {
    background-color: rgba(78, 77, 77, 0.541);
  }

  .leave_meeting {
    padding: 0.5em;
    font-weight: 600;
    font-size: 0.7rem;
    margin-right: 0.5em;
  }
}
