#video_grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#video_grid video {
  height: 200px;
  width: 300px;
  border-radius: 10px;
  border: 2px inset #000;
  margin: .1em;
}
